/*文字の色*/
p{
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}

.header_address_search{
    display: flex;
    justify-content:space-between;
    align-items:center;
}

/*ヘッダーロゴ*/
.header_address_search img{
    width: 40%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.address_search_top_wrapper{
    background-color: #CBE069;
}

.address_search_top_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
}

/*住所でえらぶロゴ*/
.address_search_top_container img{
    width: 15%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}

.address_search_top_container p{
    font-size: 20px;
}

/*背景の雲*/
.address_search_wrapper{
    background-image: url("../img/cloud.svg");
    background-size: 40% auto;
    height: 100vh;
}
    /*animation: bgiLoop 10s linear infinite;
}
@keyframes bgiLoop {
    0% { background-position: 0 0;}
    100% { background-position: -100px 200px;}
}*/

.address_search_wrapper{
    width: 100%;
}

.address_search_container{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 50px 0;
}

.address_search_form{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.address_search_form p{
    color: white;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 250px;
    margin-bottom: 5px;
    background-color: #CBE069;
}

#address{
    height: 35px;
    width: 250px;
    border-radius: 10px;
    border-color: #CBE069;
}

.now_place_search_form{
    padding: 30px 0;
}

button{
    height: 50px;
    width: 250px;
    border-radius: 10px;
}

#submit{
    height:35px; 
    border-radius: 5px;
    background-color: cornsilk;
}

.henro_alien{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 200px;
}

.balloon{
    align-self: flex-start;
    position: relative;
    display: inline-block;
    margin: 1.5em 15px 1.5em 0;
    padding: 0 5px;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    background: aqua;
    border-radius: 50%;
    box-sizing: border-box;
}

.balloon:before{
    content: "";
    position: absolute;
    bottom: -8px;
    right: -8px;
    margin-top: -15px;
    border: 15px solid transparent;
    border-left: 15px solid aqua;
    z-index: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.henro_alien img{
    align-self: flex-end;
    width: 40%;
    height: auto;
}

button{
    background-color: #CBE069;
    font-size: 16px;
}