/*背景*/
.background{
    background-image: url("../img/cloud.svg");
    background-size: 40%;
    /* opacity: 0.5; */
    background-attachment: scroll;
}

.top_container{
    width: 80%;
    margin: 0 auto
}
/*紹介文*/
.introduction_text{
    width: 100%;
}

.introduction_text p{
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

/* メニューボタン */
.menu_wrapper{
    margin: 20px 0;
}

.menu_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
}

.menus{
    flex: auto;
    width: 46%;
    display: flex;
    height: 140px;
    border-radius: 10px;
    margin: 5px 5px;
}

.menus_link{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-radius: 10px;
    box-shadow: 0 4px 6px #7e8183e6;
}

/* メニューアイコン */
#map_search img{
    width: 50%;
    height: auto;
    padding-top: 20px;
}

.menus img{
    width: 40%;
    height: auto;
    padding-top: 20px;
}

.menus p{
    margin-top: auto;
    text-align: center;
}

/* 地図からえらぶの設定 */
#map_search{
    background-color: #F4B6DB;
}

/* お寺からえらぶの設定 */
#temple_search{
    background-color:  #92D4F5;
}

/* 住所からえらぶの設定 */
#address_search{
    background-color: #CBE069;
}

/* お遍路基本情報 */
#information{
    background-color: #F7B563;
}

/*説明文*/
.title {
    color: #BFEBFB;
    font-weight: bolder;
    margin-bottom: 0px;
    align-items: left;
}

.title span {
    display: inline-block;
}

.information_text_wrapper{
    width: 100%;
}

.information_text_container{
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

/*アイコン説明*/
.information_wrapper{
    margin-top: 10px;
    margin-bottom: 10px;
}

.information_container{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    background-color: white;
}


.icon{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    width: 100%;
    height: 80px;
}

#temple_icon img{
    width: 38px;
    height: 37px;
}

.icon img{
    width: 40px;
    height: 53px;
}

.icon p{
    margin-left: 16px;
}