#map {
    height: 400px;
    width: 100%;
}

/* ページの装飾 */
/*ハンバーガーメニュー*/
.hum {
	position: relative;
	width: 40px;
	height: 40px;
    cursor: pointer;
    border-radius: 10px;
	background-color:#58C4F1;
}
.hum_line {
	position: absolute;
	left: 10px;
	width: 20px;
	height: 3px;
    background-color: #333333;
}
.hum_line1 {
	top: 10px;
}
.hum_line2 {
	top: 18px;
}
.hum_line3 {
	top: 26px;
}

.header_temple_search_select{
    display: flex;
    justify-content:space-between;
    align-items:center;
}

/*ヘッダーロゴ*/
.header_temple_search_select a{
    width: 40%;
    height: auto;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
}

.header_temple_search_select img{
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pulldown_top_wrapper{
    background-color: #92D4F5;
}

.pulldown_top_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
}

/* 一番上の寺名表示 */
#top_temple_name{
    color: white;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    /* width: 50px; */
    /* margin-bottom: 5px; */
    background-color: #92D4F5;
}

/*背景の雲*/
.wrapper{
    background-image: url("../img/cloud.svg");
    background-size: 40% auto;
    /* height: 100vh; */
    /* opacity: 0.5; */
    /* background-attachment: scroll; */
}

/* 件数の表示 */
#article{
    color: rgb(79, 122, 179);
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    /* width: 50px; */
    /* margin-bottom: 5px; */
    background-color: rgb(159, 217, 247);
}

#gourmet{
    color: rgb(79, 122, 179);
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    /* width: 50px; */
    /* margin-bottom: 5px; */
    background-color: rgb(176, 222, 245);
}

#inn{
    color: rgb(79, 122, 179);
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    /* width: 50px; */
    /* margin-bottom: 5px; */
    background-color: rgb(195, 229, 247);
}

#roadside_station{
    color: rgb(79, 122, 179);
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    /* width: 50px; */
    /* margin-bottom: 5px; */
    background-color: rgb(208, 233, 245);
}

#interesting{
    color: rgb(79, 122, 179);
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    /* width: 50px; */
    /* margin-bottom: 5px; */
    background-color: rgb(226, 241, 248);
}

#convenience{
    color: rgb(79, 122, 179);
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    /* width: 50px; */
    /* margin-bottom: 5px; */
    background-color: rgb(236, 246, 252);
}


/*アイコン説明*/
.title {
    color: rgb(81, 104, 179);
    font-weight: bolder;
    margin-bottom: 0px;
    align-items: left;
}

.title span {
    display: inline-block;
}

.information_wrapper{
    margin-top: 10px;
    margin-bottom: 10px;
}

.information_container{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    background-color: white;
}

.icon{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    width: 100%;
    height: 80px;
}

#temple_icon img{
    width: 38px;
    height: 37px;
}

.icon img{
    /* width: 40px; */
    height: 53px;
}

.icon p{
    margin-left: 16px;
}