{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/address_search.css">

<header>
    <div class="header_address_search">
            <img src="../static/img/header_logo.png" ><!-- てくてくおへんろロゴ -->

        <div class="hum"><!-- このクラスがハンバーガーボタンになる -->
            <span class="hum_line hum_line1"></span>
            <span class="hum_line hum_line2"></span>
            <span class="hum_line hum_line3"></span>
        </div>
    </div>
</header>

<div class="address_search_top_wrapper">
    <div class="address_search_top_container">
        <img src="../static/img/now_place.png"> <!-- 住所から選ぶアイコン -->
        <p>現在地や住所からえらぶ</p>
    </div>
</div>

<div class="address_search_wrapper">
    <div class="address_search_container">
        <div class="address_search_form">
        <!-- プルダウンを表示 -->
            <label for="name">住所を入力してください</label>
            <input type="text" name="address" id="address">
            <input type="submit" name="save" value="検索" id="submit">    
        </div>
    </div>
</div>


{% endblock %}