<!DOCTYPE html>
<html lang="jp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="../static/css/stylePc.css" media="only screen and (min-width:768px)">
        <link rel="stylesheet" type="text/css" href="../static/css/styleSp.css" media="only screen and (max-width:767px)">
        <title>てくてくおへんろ</title>
    </head>

    <body>
        <div id = "pcOnly">
            <div class = "wrapper">
                <div class="container">
                    <!-- <div id="Serif"><p>スマフォで見てね</p></div> -->
                    <div id="Serif">
                        <img id="bubble" border="0" src="../static/img/e0129_1.svg" alt="吹き出し" title="ヘンロニハナヲウエテシコクジンノトウソウシンヲシズメテヤル">
                        <p>スマホデミテネ</p>
                    </div>
                    <img id="henro_alien" border="0" src="../static/img/henro_alien.svg" alt="遍路エイリアン" title="遍路を通して四国征服を狙っているちょっとズレた宇宙人">
                </div>
            </div>
        </div>


        <div id = "spOnly">
        {% block content %}
            
        {% endblock %}
        </div>
        <!-- 本当はgoogleMap_templeに置きたいが遅くなるかもしれないのでこちらに。ならないのが確認出来たら移動 -->
        <!-- <script type="text/javascript" src="../static/js/googleMap_temple.js"></script> -->
        <!-- <script type="text/javascript" src="../static/js/route_map.js"></script> -->
    </body>
</html>