{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="../static/css/googleMap_temple.css">
    <link rel="stylesheet" type="text/css" href="../static/css/information.css">

    <header>
        <div class="header_temple_search_select">
            <!-- <div class="logo_temple_search_select"> -->
                <!-- <img src="../static/img/header_logo.png" > -->
                <a href="http://127.0.0.1:5000/"><img src="../static/img/header_logo.png" ></a><!-- てくてくおへんろロゴ -->
            <div class="hum"> <!-- このクラスがハンバーガーボタンになる -->
                <span class="hum_line hum_line1"></span>
                <span class="hum_line hum_line2"></span>
                <span class="hum_line hum_line3"></span>
            </div>
        </div>
    </header>

    <div class = "wrapper">
        <!-- <p>グーグルマップのページ・寺基準</p> -->
        <div id = "top_temple_name">{{temple_place[0]}}番札所  {{temple_place[1]}}</div>
        <!-- <input type="text" value="{{temple_place[0]}}" name="task"> -->

        <!-- 寺の住所 -->
        <!-- <input id="temple_address" type="hidden" value="{{temple_place[0]}}"> -->
        <!-- 寺の番号 -->
        <input id="temple_number" type="hidden" value="{{temple_place[0]}}">
        <!-- 寺の名前 -->
        <input id="temple_name" type="hidden" value="{{temple_place[1]}}">
        <!-- 吹き出しの説明文 -->
        <input id="temple_information" type="hidden" value="{{temple_place[2]}}">
        <!-- 緯度 -->
        <input id="temple_lat" type="hidden" value="{{temple_place[3]}}">
        <!-- 経度 -->
        <input id="temple_lng" type="hidden" value="{{temple_place[4]}}">
        <!-- 寺の電話番号 -->
        <!-- <input id="temple_phone_number" type="hidden" value="{{temple_place[4]}}"> -->


        <!-- html内のfor文はpython式 -->
        <!-- {% for i in gourmet_address %} -->
            <!-- <input class="gourmet_address[]" name = "gourmet_address[][address]" value = "{{i}}" > -->
        <!-- {% endfor %} -->

        
        <!-- グルメの住所 -->
        <!-- <input id="gourmet_address" type="hidden" value="{{gourmet_address}}"> -->
        <!-- グルメの寺番号 -->
        <!-- <input id="gourmet_number" type="hidden" value="{{gourmet_number}}"> -->
        <!-- グルメの名前 -->
        <input id="gourmet_name" type="hidden" value="{{gourmet_name}}">
        <!-- グルメの緯度 -->
        <input id="gourmet_lat" type="hidden" value="{{gourmet_lat}}">
        <!-- グルメの経度 -->
        <input id="gourmet_lng" type="hidden" value="{{gourmet_lng}}">
        <!-- 吹き出しの説明文 -->
        <input id="gourmet_information" type="hidden" value="{{gourmet_information}}">
        <!-- グルメの電話番号 -->
        <input id="gourmet_phone_number" type="hidden" value="{{gourmet_phone_number}}">


        <!-- 宿の住所 -->
        <!-- <input id="inn_address" type="hidden" value="{{inn_address}}"> -->
        <!-- 宿の名前 -->
        <input id="inn_name" type="hidden" value="{{inn_name}}">
        <!-- 吹き出しの説明文 -->
        <input id="inn_information" type="hidden" value="{{inn_information}}">
        <!-- 宿の電話番号 -->
        <input id="inn_phone_number" type="hidden" value="{{inn_phone_number}}">
        <!-- 宿の緯度 -->
        <input id="inn_lat" type="hidden" value="{{inn_lat}}">
        <!-- 宿の経度 -->
        <input id="inn_lng" type="hidden" value="{{inn_lng}}">


        <!-- コンビニの住所 -->
        <!-- <input id="convenience_address" type="hidden" value="{{convenience_address}}"> -->
        <!-- コンビニの名前 -->
        <input id="convenience_name" type="hidden" value="{{convenience_name}}">
        <!-- 宿の緯度 -->
        <input id="convenience_lat" type="hidden" value="{{convenience_lat}}">
        <!-- 宿の経度 -->
        <input id="convenience_lng" type="hidden" value="{{convenience_lng}}">
        <!-- コンビニの説明文 -->
        <!-- <input id="convenience_information" type="hidden" value="{{convenience_information}}"> -->
        <!-- コンビニの電話番号 -->
        <!-- <input id="convenience_phone_number" type="hidden" value="{{convenience_phone_number}}"> -->


        <!-- スポットの住所 -->
        <!-- <input id="interesting_address" type="hidden" value="{{interesting_address}}"> -->
        <!-- スポットの名前 -->
        <input id="interesting_name" type="hidden" value="{{interesting_name}}">
        <!-- スポットの説明文 -->
        <input id="interesting_information" type="hidden" value="{{interesting_information}}">
        <!-- スポットの緯度 -->
        <input id="interesting_lat" type="hidden" value="{{interesting_lat}}">
        <!-- スポットの経度 -->
        <input id="interesting_lng" type="hidden" value="{{interesting_lng}}">
        <!-- スポットの電話番号 -->
        <!-- <input id="convenience_phone_number" type="hidden" value="{{convenience_phone_number}}"> -->

        <!-- 道の駅の住所 -->
        <!-- <input id="interesting_address" type="hidden" value="{{interesting_address}}"> -->
        <!-- 道の駅の名前 -->
        <input id="roadside_station_name" type="hidden" value="{{roadside_station_name}}">
        <!-- 道の駅の説明文 -->
        <input id="roadside_station_information" type="hidden" value="{{roadside_station_information}}">
        <!-- 道の駅の緯度 -->
        <input id="roadside_station_lat" type="hidden" value="{{roadside_station_lat}}">
        <!-- 道の駅の経度 -->
        <input id="roadside_station_lng" type="hidden" value="{{roadside_station_lng}}">
        <!-- 道の駅の電話番号 -->
        <!-- <input id="convenience_phone_number" type="hidden" value="{{convenience_phone_number}}"> -->


        <!-- <script type="text/javascript" src="../static/js/googleMap_temple.js"></script> -->
        <div id="map"></div>
        <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASLi-n8-pABIIdHDkXXi0SLD42n5-mtX4&callback=initMap"></script> -->
        <!-- 次の札所 -->
        <div id = "next_temple">{{route_BandA[1][0]}}番札所 {{route_BandA[1][1]}}まで{{route_distance[1][0]}}km</div>
        {% if route_caution[1][0] != "000" %}
            <div class = "caution">{{route_caution[1][0]}}</div>
        {% endif %}

        <form action="/route_map" method="post">
            <input name="Start_temple_number" type="hidden" value="{{temple_place[0]}}">
            <input name="Goal_temple_number" type="hidden" value="{{route_BandA[1][0]}}">
            <input class ="search_bottom" type="submit" name="save" value="ルート案内">
        </form>

        <!-- 前の札所 -->
        <div id = "previous_temple">{{route_BandA[0][0]}}番札所 {{route_BandA[0][1]}}まで{{route_distance[0][0]}}km</div id = "next_temple">
        {% if route_caution[0][0] != "000" %}
            <div class = "caution">{{route_caution[0][0]}}</div>
        {% endif %}

        <form action="/route_map" method="post">
            <input name="Start_temple_number" type="hidden" value="{{temple_place[0]}}">
            <input name="Goal_temple_number" type="hidden" value="{{route_BandA[0][0]}}">
            <input class ="search_bottom" type="submit" name="save" value="ルート案内">
        </form>
    

        <!-- プルダウン -->
        <div class="pulldown">
            <!-- プルダウンを表示 -->
            <p id = "another_temple">別のお寺でルート案内</p>
            <!-- プルダウンを選びボタンを押すと寺の番がapp.pyの/temple_search_selectに送られる -->
            <form class ="" action="/route_map" method="post">
                <select name="Goal_temple_number">
                    <option value="1">1番札所 霊山寺</option>
                    <option value="2">2番札所 極楽寺</option>
                    <option value="3">3番札所 金泉寺</option>
                    <option value="4">4番札所 大日寺</option>
                    <option value="5">5番札所 地蔵寺</option>
                    <option value="6">6番札所 安楽寺</option>
                    <option value="7">7番札所 十楽寺</option>
                    <option value="8">8番札所 熊谷寺</option>
                    <option value="9">9番札所 法輪寺</option>
                    <option value="10">10番札所 切幡寺</option>
                    <option value="11">11番札所 藤井寺</option>
                    <option value="12">12番札所 焼山寺</option>
                    <option value="13">13番札所 大日寺</option>
                    <option value="14">14番札所 常楽寺</option>
                    <option value="15">15番札所 国分寺</option>
                    <option value="16">16番札所 観音寺</option>
                    <option value="17">17番札所 井戸寺</option>
                    <option value="18">18番札所 恩山寺</option>
                    <option value="19">19番札所 立江寺</option>
                    <option value="20">20番札所 鶴林寺</option>
                    <option value="21">21番札所 太龍寺</option>
                    <option value="22">22番札所 平等寺</option>
                    <option value="23">23番札所 薬王寺</option>
                    <option value="24">24番札所 最御崎寺(東寺)</option>
                    <option value="25">25番札所 津照寺(津寺)</option>
                    <option value="26">26番札所 金剛頂寺(西寺)</option>
                    <option value="27">27番札所 神峯寺</option>
                    <option value="28">28番札所 大日寺</option>
                    <option value="29">29番札所 国分寺</option>
                    <option value="30">30番札所 善楽寺</option>
                    <option value="31">31番札所 竹林寺</option>
                    <option value="32">32番札所 禅師峰寺</option>
                    <option value="33">33番札所 雪蹊寺</option>
                    <option value="34">34番札所 種間寺</option>
                    <option value="35">35番札所 清瀧寺</option>
                    <option value="36">36番札所 青龍寺</option>
                    <option value="37">37番札所 岩本寺</option>
                    <option value="38">38番札所 金剛福寺</option>
                    <option value="39">39番札所 延光寺</option>
                    <option value="40">40番札所 観自在寺</option>
                    <option value="41">41番札所 龍光寺</option>
                    <option value="42">42番札所 佛木寺</option>
                    <option value="43">43番札所 明石寺</option>
                    <option value="44">44番札所 大寶寺</option>
                    <option value="45">45番札所 岩屋寺</option>
                    <option value="46">46番札所 浄瑠璃寺</option>
                    <option value="47">47番札所 八坂寺</option>
                    <option value="48">48番札所 西林寺</option>
                    <option value="49">49番札所 浄土寺</option>
                    <option value="50">50番札所 繁多寺</option>
                    <option value="51">51番札所 石手寺</option>
                    <option value="52">52番札所 太山寺</option>
                    <option value="53">53番札所 圓明寺</option>
                    <option value="54">54番札所 延命寺</option>
                    <option value="55">55番札所 南光坊</option>
                    <option value="56">56番札所 泰山寺</option>
                    <option value="57">57番札所 栄福寺</option>
                    <option value="58">58番札所 仙遊寺</option>
                    <option value="59">59番札所 国分寺</option>
                    <option value="60">60番札所 横峰寺</option>
                    <option value="61">61番札所 香園寺</option>
                    <option value="62">62番札所 宝寿寺</option>
                    <option value="63">63番札所 吉祥寺</option>
                    <option value="64">64番札所 前神寺</option>
                    <option value="65">65番札所 三角寺</option>
                    <option value="66">66番札所 雲辺寺</option>
                    <option value="67">67番札所 大興寺(小松尾寺)</option>
                    <option value="68">68番札所 神恵院(琴弾八幡)</option>
                    <option value="69">69番札所 観音寺</option>
                    <option value="70">70番札所 本山寺</option>
                    <option value="71">71番札所 弥谷寺</option>
                    <option value="72">72番札所 曼荼羅寺</option>
                    <option value="73">73番札所 出釈迦寺</option>
                    <option value="74">74番札所 甲山寺</option>
                    <option value="75">75番札所 善通寺</option>
                    <option value="76">76番札所 金倉寺</option>
                    <option value="77">77番札所 道隆寺</option>
                    <option value="78">78番札所 郷照寺</option>
                    <option value="79">79番札所 天皇寺(高照院)</option>
                    <option value="80">80番札所 國分寺</option>
                    <option value="81">81番札所 白峯寺</option>
                    <option value="82">82番札所 根香寺</option>
                    <option value="83">83番札所 一宮寺</option>
                    <option value="84">84番札所 屋島寺</option>
                    <option value="85">85番札所 八栗寺</option>
                    <option value="86">86番札所 志度寺</option>
                    <option value="87">87番札所 長尾寺</option>
                    <option value="88">88番札所 大窪寺</option>
                </select>
                <br>
                <input name="Start_temple_number" type="hidden" value="{{temple_place[0]}}">
                <input class = "search_bottom" type="submit" name="save" value="ルート案内">
            </form>
        </div>

        <div class="information_wrapper">
            <div class="information_container">
                <p class="title">マップに掲載されている情報と<span>アイコン</span></p>
                <div class="icon" id="temple_icon">
                    <img src="../static/img/temple_pin01.png" alt="お寺">
                    <p>８８箇所霊場の寺。<br>番号は札番です。</p>
                </div>
                <div class="icon" id="hotel_icon">
                    <img src="../static/img/inn_pin.png" alt="宿">
                    <p>宿の位置です。<br>GoogleMapで評価の高いものを掲載しています。</p>
                </div>
                <div class="icon" id="restaurant_icon">
                    <img src="../static/img/gourmet_pin.png" alt="グルメ">
                    <p>軽食などを含めた食事ポイントです。</p>
                </div>
                <div class="icon" id="convenience_store_icon">
                    <img src="../static/img/convenience_pin.png" alt="コンビニ">
                    <p>コンビニの位置です。</p>
                </div>
                <div class="icon" id="road_station_icon">
                    <img src="../static/img/roadside_pin.png" alt="道の駅">
                    <p>道の駅の位置です</p>
                </div>
                <div class="icon" id="sightseeing_spot_icon">
                    <img src="../static/img/interesting_pin.png" alt="観光">
                    <p>見どころポイントです。<br>弘法大師ゆかりの場所や観光スポットなどを示しています。</p>
                </div>
            </div>
        </div>
        
    </div>

    <script type="text/javascript" src="../static/js/googleMap_temple.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASLi-n8-pABIIdHDkXXi0SLD42n5-mtX4&callback=initMap"></script>
{% endblock %}