{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="../static/css/googleMap_temple.css">
    <p>グーグルマップのページ・寺基準</p>
    <!-- <input type="text" value="{{temple_place[0]}}" name="task"> -->

    <!-- 寺の住所 -->
    <input id="temple_address" type="hidden" value="{{temple_place[0]}}">
    <!-- 寺の番号 -->
    <input id="temple_number" type="hidden" value="{{temple_place[1]}}">
    <!-- 寺の名前 -->
    <input id="temple_name" type="hidden" value="{{temple_place[2]}}">
    <!-- 吹き出しの説明文 -->
    <input id="temple_information" type="hidden" value="{{temple_place[3]}}">
    <!-- 寺の電話番号 -->
    <input id="temple_phone_number" type="hidden" value="{{temple_place[4]}}">


    <!-- html内のfor文はpython式 -->
    <!-- {% for i in gourmet_address %}
        <input class="gourmet_address[]" name = "gourmet_address[][address]" value = "{{i}}" >
    {% endfor %} -->

    
    <!-- グルメの住所 -->
    <input id="gourmet_address" type="hidden" value="{{gourmet_address}}">
    <!-- グルメの寺番号 -->
    <!-- <input id="gourmet_number" type="hidden" value="{{gourmet_number}}"> -->
    <!-- グルメの名前 -->
    <input id="gourmet_name" type="hidden" value="{{gourmet_name}}">
    <!-- 吹き出しの説明文 -->
    <input id="gourmet_information" type="hidden" value="{{gourmet_information}}">
    <!-- グルメの電話番号 -->
    <input id="gourmet_phone_number" type="hidden" value="{{gourmet_phone_number}}">


    <!-- 宿の住所 -->
    <input id="inn_address" type="hidden" value="{{inn_address}}">
    <!-- 宿の名前 -->
    <input id="inn_name" type="hidden" value="{{inn_name}}">
    <!-- 吹き出しの説明文 -->
    <input id="inn_information" type="hidden" value="{{inn_information}}">
    <!-- 宿の電話番号 -->
    <input id="inn_phone_number" type="hidden" value="{{inn_phone_number}}">


    <!-- コンビニの住所 -->
    <input id="convenience_address" type="hidden" value="{{convenience_address}}">
    <!-- コンビニの名前 -->
    <input id="convenience_name" type="hidden" value="{{convenience_name}}">
    <!-- コンビニの説明文 -->
    <input id="convenience_information" type="hidden" value="{{convenience_information}}">
    <!-- コンビニの電話番号 -->
    <!-- <input id="convenience_phone_number" type="hidden" value="{{convenience_phone_number}}"> -->


    <!-- 面白の住所 -->
    <input id="interesting_address" type="hidden" value="{{interesting_address}}">
    <!-- 面白の名前 -->
    <input id="interesting_name" type="hidden" value="{{interesting_name}}">
    <!-- 面白の説明文 -->
    <input id="interesting_information" type="hidden" value="{{interesting_information}}">
    <!-- 面白の電話番号 -->
    <!-- <input id="convenience_phone_number" type="hidden" value="{{convenience_phone_number}}"> -->


    <!-- <script type="text/javascript" src="../static/js/googleMap_temple.js"></script> -->
    <div id="map"></div>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASLi-n8-pABIIdHDkXXi0SLD42n5-mtX4&callback=initMap">
    </script>

<!-- src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB89bWZUT6HKbzPlR35kyuVcBwiZP8YA5g&callback=initMap"> -->
    
{% endblock %}