{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="../static/css/sikoku_map.css">
    <link rel="stylesheet" type="text/css" href="../static/css/information.css">

    <header>
        <div class="header_temple_search_select">
            <!-- <div class="logo_temple_search_select"> -->
                <a href="http://127.0.0.1:5000/"><img src="../static/img/header_logo.png" ></a><!-- てくてくおへんろロゴ -->
                <!-- <img src="../static/img/header_logo.png" > -->
    
            <div class="hum"> <!-- このクラスがハンバーガーボタンになる -->
                <span class="hum_line hum_line1"></span>
                <span class="hum_line hum_line2"></span>
                <span class="hum_line hum_line3"></span>
            </div>
        </div>
    </header>

    <div class = "wrapper">
        <div id = "top_name">見たいお寺を選んでね</div>
        <!-- <a href="/kagawa_map">香川</a> -->

        <input type="hidden" id = "all_temple_number" value="{{all_temple_number}}">
        <input type="hidden" id = "all_temple_name" value="{{all_temple_name}}">
        <input type="hidden" id = "all_temple_information" value="{{all_temple_information}}">
        <input type="hidden" id = "all_temple_lat" value="{{all_temple_lat}}">
        <input type="hidden" id = "all_temple_lng" value="{{all_temple_lng}}">

        <div id="map"></div>
    </div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASLi-n8-pABIIdHDkXXi0SLD42n5-mtX4&callback=initMap"></script>
    <script type="text/javascript" src="../static/js/functions.js"></script>
    <script type="text/javascript" src="../static/js/sikoku_map.js"></script>
{% endblock %}