{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/tips.css">
<link rel="stylesheet" type="text/css" href="../static/css/ham_menu.css">


<header>
    <div class="header_tips">
            <!-- <img src="../static/img/header_logo.png" > -->
            <!-- てくてくおへんろロゴ -->
            <a href="http://127.0.0.1:5000/"><img src="../static/img/header_logo.png" ></a>
        <div class="ham" id="ham"><!-- このクラスがハンバーガーボタンになる -->
            <span class="ham_line ham_line1"></span>
            <span class="ham_line ham_line2"></span>
            <span class="ham_line ham_line3"></span>
        </div>
    </div>
</header>

<div class="tips_top_wrapper">
    <div class="tips_top_container">
        <img src="../static/img/henro_info.png" alt="豆電球">
        <p>お遍路豆知識</p>
    </div>
</div>

<div class="tips_wrapper">
    <div class="tips_container">
        <div class="tips">
            <div class="tips_icon">
                <p class="title">四国霊場の巡り方について</p>
                <img src="../static/img/building_tera.png" alt="お寺">
            </div>
            <div class="tips_text">
                <p>８８箇所のお寺を「札所」といい、お寺にお参りすることを「打つ」といいます。
                    ８８箇所霊場のまわり方に決まりはありません。
                    一度にまわる必要もなければ順番通りである必要もないので、自分のペースで自由にまわりましょう。</p>
            </div>
        </div>
        <div class="tips">
            <div class="tips_icon">
                <p class="title">四国霊場の移動距離</p>
                <img src="../static/img/chihou7_shikoku.png" alt="四国地図">
            </div>
            <div class="tips_text">
                <p>四国霊場は全道程１２００～１５００ｋｍと言われています。
                    歩き遍路で約４０〜５０日。車では１週間〜２週間かかります。</p>
            </div>
        </div>
        <div class="tips">
            <div class="tips_icon">
                <p class="title">納経の受付時間と料金</p>
                <img src="../static/img/job_obousan.png" alt="お坊さん">
            </div>
            <div class="tips_text">
                <p>納経受付時間：７：００〜１７：００<br>
                    納経料金：３００円<br>
                    （白衣２００円、掛け軸５０円）</p>
            </div>
        </div>
        <div class="tips">
            <div class="tips_icon">
                <p class="title">服装など</p>
                <img src="../static/img/shoes_sneaker.png" alt="靴">
            </div>
            <div class="tips_text">
                <p>お遍路の服装に決まりはありませんが、白衣を着ると地元の人やお遍路さん同士の交流が深まることが多いです。
                    また、靴選びは重要です！山よりも平地をあるくことが多いので、ごつい登山靴よりもクッション性の高いウォーキングシューズをオススメします。</p>
            </div>
        </div>
        <div class="tips">
            <div class="tips_icon_manners">
                <p class="title">巡礼の作法（リンク）</p>
            </div>
            <div class="tips_text">
                <p>▪️一般的な参拝の作法について</p>
                <a href="http://www.maenaem.com/henro/san.htm">お遍路のススメ「遍路参拝の作法」</a>
                <p>▪️動画で見る</p>
                <a href="https://pilgrim-shikoku.net/henroworshipmanners">四国遍路情報サイト「四国遍路」遍路参拝作法まとめ</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../static/js/ham_menu.js"></script>

{% endblock %}